/* .dashboard-container {
  padding: 20px;
} */

.dash-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1f2937;
}

.dash-subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

