
.add-user-page {
  padding: 20px;
}

h2 {
  margin-bottom: 30px;
}

.form-card {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.form-row {
  /* display: grid; */
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  /* grid-template-columns: repeat(4, 1fr); */
  
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

input, select {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.save-btn {
  background: #4292cc;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
