

  
.sidebar h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
}


.sidebar ul li {
  margin-bottom: 15px;
}


.sidebar ul li a {
  display: flex;          
  align-items: center;    
  gap: 8px;                
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #d9efff;
  /* color: white; */
}

.sidebar ul li a.active {
  background-color: #d9efff;

  /* background-color: #1f75b6; */

  /* color: white; */
  font-weight: 600;
}


.sidebar-icon {
  margin-right: 8px;
  background-color: #4292cc;
  color: white;
  width: 33px !important; 
  height: 33px !important;
  border-radius: 4px;
  padding: 4px;
}



