
.sidebar h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.3rem;
  /* font-weight: 600; */
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.closed h3 {
  opacity: 0;
  pointer-events: none;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #d9efff;
}

.sidebar ul li a.active {
  background-color: #d9efff;
  font-weight: 600;
}



.sidebar-icon {
  margin-right: 8px;
  background-color: #4292cc;
  color: white;
  width: 33px !important;
  height: 33px !important;
  border-radius: 4px;
  padding: 4px;
  transition: margin 0.3s ease;
}

.sidebar.closed .sidebar-icon {
  margin-right: 0;
}



.sidebar {
  transition: width 0.35s ease-in-out;
  overflow: hidden;
}

.sidebar.open {
  width: 270px;
}

.sidebar.closed {
  width: 70px;
}

.sidebar.closed ul li a {
  justify-content: center;
}


.sidebar ul li a span {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}


.sidebar.closed ul li a span {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
  width: 0;
  overflow: hidden;
}