.access-denied-page {
  height: 100vh;
  /* background: #4292cc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  /* font-family: Arial, sans-serif; */
}

.access-denied-page h1 {
  font-size: 120px;
  margin: 0;
  color: #0b8fcd;
}

.access-denied-page h2 {
  font-size: 36px;
  margin: 10px 0;
}

.access-denied-page p {
  font-size: 18px;
  opacity: 0.9;
}

.access-denied-page button {
  margin-top: 30px;
  padding: 12px 24px;
  background: #0b8fcd;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.access-denied-page button:hover {
  background: #0ea5e9;
}
