

.primary-btn {
  background-color: #4292cc;
  color: white;
  padding: 10px 18px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.primary-btn:hover {
  background-color: #2b73a5;
}





/* Second page */

.onboarding-container {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

.step {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 20px;
  gap: 15px;
}

.step-number {
  width: 26px;
  height: 26px;
  background: #e5effa;
  color: #1e40af;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
}

.policy-box {
  position: relative;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.policy-box:hover {
    border: 1px solid #0A3CA2;
  background-color: #f8fbff;
}

.policy-box pre {
  font-size: 13px;
  color: #1e40af;
}

.policy-box{
   max-height: 220px;      
  overflow-y: auto;       
  overflow-x: auto;
  padding-right: 8px;

}

/* .copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #fff;
  border: 1px solid #1e40af;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
} */


.policy-copy-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}



.readonly-input {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
  margin-bottom: 30px;
  margin-left: 40px;
}



.copy-field {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 10px 12px;
  width: fit-content;
  min-width: 320px;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 20px;
  gap: 20px;
}

.copy-field:hover {
  border-color: #0a3ca2;
  background: #f8fbff;
}

.copy-field span {
  /* font-family: monospace; */
  color: #1e40af;
  font-size: 14px;
}

.copy-icon {
  font-size: 18px;
  color: #1e40af;
}

.copy-icon.success {
  color: #16a34a;
}




/* .MuiSvgIcon-root {
  font-size: 16px;
  color: #1e40af;
  vertical-align: middle;
} */

.image-container {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  /* padding-right: 8px; */
  margin-bottom: 30px;
}


/* .iam-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
} */


.input {
  padding: 10px;
  width: 400px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-left: 40px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.secondary-btn {
  background: #f3f4f6;
  color: #1e40af;
  padding: 8px 16px;
  border-color: #1e40af;
  border-radius: 4px;
  cursor: pointer;
}


.error-text {
  color: #e53935;
  font-size: 13px;
  /* margin-top: 4px; */
  margin-bottom: 20px;
  margin-left: 44px;
}
